@import "tailwindcss";

body {
  @apply m-0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.wave {
  position: relative;
  height: 20px;
  background: #fff;
}

.wave:after,
.wave:before {
  content: "";
  background-repeat: repeat-x;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.wave:before {
  background-size: 20px 20px;
  background-image: radial-gradient(
    circle at 10px -5px,
    transparent 12px,
    #fb923c 13px
  );
  height: 10px;
}

.wave:after {
  background-size: 40px 20px;
  background-image: radial-gradient(
    circle at 10px 15px,
    #fb923c 12px,
    transparent 13px
  );
  height: 0;
}
